/*---HISTORIA--*/
#content section.historia{
    padding:0;
    margin: 20px 30px;
}
#content section.historia ol{
    list-style:upper-roman;
    margin:0;
    padding-bottom: 10px;
    padding-top:10px;
}
#content section.historia ol li{
    font-size:18px;
    color:#000;
    padding-left:10px;
    color:#fff;
    margin-bottom: 10px;
    
}
#content section.historia ol li:last-child{
    margin-bottom: 0;
}
.hide{
position:absolute;
height:0;
text-indent: -999em;
}