@import url("reset.css");
@import url("historia.css");

body{
    width:100%;
    background: #50763b url("../img/background.png") repeat-x;
    font: 12px/20px Verdana, Arial, sans-serif;
    color:#fff;
}
#container{
    width:960px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

/*------NAGLOWEK-------*/
#logo{
    display:block;
    font: 40px/50px 'Source Sans Pro', sans-serif;
    font-style:italic;
    text-decoration:none;
    color:white;
    font-weight: 900;
    margin: 0 0 10px 10px;
}
header{
    margin-top:20px;
    position:relative;
    height:300px;
}
header nav ul{
    margin:0;
    padding:0;
}
header nav{
    position:absolute;
    right:0;
    top:10px;
}
header nav ul li{
    float:left;
    margin-left:10px;
    list-style: none;
}
header nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:14px;
    padding: 4px 8px;
    display:inline-block;
}
header nav ul li a.active{
background: rgb(249,239,144); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,239,144,1) 1%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,239,144,1) 1%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,239,144,1) 1%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ef90', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
border-radius:5px;
-moz-border-radius:5px;
color:#764524;
-webkit-box-shadow:1px 1px 1px #85b54d;
-moz-box-shadow:1px 1px 1px #85b54d;
box-shadow:2px 2px 1px #85b54d;
}
header nav ul li a:hover{
color:#764524;
}
header section#main-image{
    background:url("../img/foto.jpg") left top no-repeat;
    width: 930px;
    height:206px;
    margin:0 auto;
    -moz-box-shadow: 0 5px 6px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 5px 6px rgba(0,0,0,0.25);
    box-shadow: 0 5px 6px rgba(0,0,0,0.25);
    border:5px solid white;
}
header section figure{
    float:right;
    width:250px;
    background: rgba(0, 0, 0, 0.25);
    height:166px;
    padding: 40px 0 0 60px;
}
header section figure h2{
    color: #fff;
    font-size:28px;
    line-height:40px;
    font-family: "Oswald", 'sans-serif';
    margin-left: 30px;
    letter-spacing: 2px;
}
header section figure h2.second{margin-left:60px;}
header section figure h2.third{margin-left:90px;}
#content-wrapper{
    padding:0 10px; overflow:hidden;
}
#content-wrapper h2{
    font-family: 'GraublauWebBold', 'sans-serif';
    color:#fff;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top:20px;
    text-shadow: 0 0 1px rgba(0,0,0,0);
}
p{
    color:white;
}
strong{
    color:#f9d467;
}
#content{
    float:left;
    width: 620px;
}
#article{
    padding-bottom:30px;
}
#content section.news ul{margin: 0; padding:0;overflow:hidden;}
#content section.news ul li{float:left; width: 300px; margin-right: 20px;}
#content section.news ul li.row-end{margin-right: 0;}
#content section.news ul li h3{color: #f9d467;}
aside{
    float:right;
    width:300px;
}
aside section{
    margin-bottom:20px; overflow: hidden;
}
ul.sidebar-gallery{
    margin:0; padding:0;
}
ul.sidebar-gallery li{
    float:left;
    margin: 5px 10px;
}
ul.sidebar-gallery li a img{
    border:4px solid #fff;
    -webkit-box-shadow:0 3px 6px #444;
    -moz- box-shadow:0 3px 6px #444;
    box-shadow:0 3px 6px #444;
}
footer{
    clear:both;
    margin-top:20px;
    padding:15px;
    background: #84BA4E;
    display:block;
    overflow:hidden;
    -moz-border-radius:5px;
    border-radius:5px;
}
footer nav ul{
    margin:0; padding:0;
    
    overflow:hidden;
    
}
footer nav ul li{
    float:left;
    text-align: center;

    border-right: dashed 1px white;
    margin-left:10px;
    padding: 0 5px;
    position: relative;
    list-style:none;
}
footer nav ul li a{
    text-decoration:none; color:inherit;
}
footer nav ul li a:hover{
    color:#764524;
}
.right{
    float:right;
}
.left{
    float:left;
}

/*--Ciekawe miejsca--*/

section.ciekawe_miejsca ul{
    margin:20px; padding:0; overflow:hidden;
}
section.ciekawe_miejsca ul li{
    float:left;
    border:4px solid white;
    margin-left:10px;
}



